@import url('https://fonts.googleapis.com/css2?family=Anton&family=Assistant:wght@200..800&display=swap');
@import 'tailwindcss';

@theme {
  --font-anton: "Anton", sans-serif;
  --font-assistant: "Assistant", sans-serif;

  --color-brand-blue: #334fb4;
  --color-brand-black: #121212;
  --color-brand-gray: #f3f3f3;
  --color-brand-dark-blue: #242833;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
